html,
body,
h1,
h2,
h3,
h4,
p {
  margin: 0;
  padding: 0;
}

body,
.markdown-body {
  font-family: 'dingding', 'Microsoft Yahei';
}

ul:not(.markdown-body-ul) {
  list-style: none;
}

a {
  text-decoration: none;
  color: var(--el-text-color-primary);
  &:-webkit-any-link {
    text-decoration: none;
    color: var(--el-text-color-primary);
  }
}

*::-webkit-scrollbar {
  width: 4px;
  height: 4px;
}

*::-webkit-scrollbar-track {
  width: 4px;

  &:hover {
    width: 6px;
  }
}

*::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background: var(--el-fill-color);

  &:hover {
    cursor: pointer;
    background: var(--el-color-primary);
  }
}
