// 文章详情
@media screen and (max-width: 992px) {
  .catalog_tree_pc {
    display: none;
  }

  .catalog_tree_mobile {
    display: block;
    .catalog-tree-box {
      top: 0;
      &__title {
        display: none;
      }
    }
  }
}

@media screen and (min-width: 992px) {
  .catalog_tree_pc {
    display: block;
  }

  .catalog_tree_mobile {
    display: none;
  }
}
