@media screen and (max-width: 992px) {
  .el-backtop {
    right: 20px !important;
    bottom: 110px !important;
  }
}

@media screen and (min-width: 992px) {
  .el-backtop {
    right: 80px !important;
    bottom: 80px !important;
  }
}
