@media screen and (max-width: 992px) {
  .el-header-container {
    height: 0;

    .header-pc {
      display: none;
    }
  }

  .header-mobile {
    display: block;
  }
}

@media screen and (min-width: 992px) {
  .el-header-container {
    height: 60px;

    .header-pc {
      display: block;
    }
  }

  .header-mobile {
    display: none;
  }
}